- if @album.present? && flash[:error].blank?
  $('#album_table').find('tr[data-id="#{params[:id]}"]').html('#{escape_javascript(render 'album_table_row', album: @album)}')
$('.flash_message').html('#{escape_javascript(render 'flash_message')}');
$('.alert').delay(5000).fadeOut("slow", function () { $(this).remove();})
